doctype html
html(class='html')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="http://code.jquery.com/jquery-1.10.2.min.js").
    script(src="/javascripts/script.js").
    script(src="http://prezi.github.io/prezi-player/lib/PreziPlayer/prezi_player.js").
    script(src="http://cdn.peerjs.com/0.3/peer.js").


  body
      
    block content
