doctype html
html(class='html')
  head
    title STEM Outline
    link(rel='stylesheet', href='/stylesheets/outline.css')

  body
  
    div(id='intro')
      h1 Outline
      
      h2 Problems of Introducing Stem Education in Inner City and     Underprivileged School Districts
      
      p
        strong Thesis:
        &nbsp; Major problems faced in Urban School environments contribute to lower student success rates in Science, Technology, Engineering, and Mathematics careers. Some of these major problems have the ability to be solved with small reforms as well as some larger ones. However, pushing these changes and furthering are focus on undersaturated job markets allow us as a country to be more completive in the global economy.
    
    div
      ul 
        h3 Introduction
        li Some thirty percent of teachers for chemistry and physics do not have qualifying degrees or certifications for those subjects and thats not specific to inner city or underprivileged school districts.
        li Many teachers are not prepared for dealing with poverty issues faced at some of these school districts.
        li Essential and basic necessities that build the foundation of learning like proper desks, chalkboards and classroom spaces are lacking on a significant scale in urban districts in comparison to that of suburban and small urban school districts.
        li More than sixty percent of student qualify for free or reduced lunch, which mean their house hold income in near or below the national poverty line.
    
      ul
        h3 Under Qualified Teachers on STEM subjects
        li Approximately ninety percent of middle school students learn physical sciences from a teacher lacking a degree or certification in the physical sciences.
        li Many physics teacher lack the knowledge and skill to teach the subject. Almost a third of all high school physics teachers have taken fewer than 3 college physics classes.
        li Mathematics classes in high-poverty areas are twice as likely to be taught by a teacher without the proper credentials to instruct in the subject.
      ul
        h3 Lack of Essential Necessities
        li Structural deficiencies such as dirty bathrooms and physical decay of school building contribute to higher stress levels and undermine students lack of ability to concentrate and contribute to poor task behavior.
        li Some reform initiatives that provided students to more advanced technology and resource contributed to higher standardized test scores and student motivations.
        
      ul
        h3 Many Students Fall Bellow the Poverty Line
        li Typically high population school districts tend to serve lower income household.
        li Substandard school district, a lot like substandard housing, tends to contribute to poor performance and lead to paths of bad behavior and criminal activity.
        li One initiative to focus on raising the minimum wage to a livable salary or providing a higher tax credit may push the theory that families can support student achievements and allow families to invest more on student success.
      
