.html{
  border: 0px;
  padding: 0px;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display:inline-block;
}

a {
  color: #00B7FF;
}
div {
  display:inline-block;
}
.twilioDiv{
  height: 800px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-left: 25px;
  width: 210px;
  max-width: 210px;
}
h2 {
  font-size: 22px;
  padding-left: 35px
}
.twilioList li{
  list-style-type: none;
  padding-bottom: 10px;
  font-size: 20px;
}
